@using Emse.QMagic.Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<qmTerminal> terminals = ViewBag.data;
    List<qmBranch> branches = ViewBag.branch;
}

<link href="~/assets/css/sweetalert2.min.css" rel="stylesheet" />
<script src="~/assets/js/sweetalert2.all.min.js"></script>

<script>
    function DeleteRecord(branchid) {
        $.post("../Terminal/PrepareDelete?TerminalID=" + branchid, {}, function (data) {

            swal({
                title: "Are you sure want to delete this record?",
                text: data,
                icon: "warning",
                buttons: true,
                dangerMode: true,
                content: data
            })
                .then((willDelete) => {
                    if (willDelete) {
                        //window.location = "../Appointment/DeleteSchedule?AppointmentID=" + recordid;
                        $("#PostDelete").submit();
                    } else {
                        swal({
                            title: "Nothing changed",
                            icon: "success"
                        });
                    }
                });

            $(".swal-text").html(data);
        });
    }

    $(document).ready(function () {
        if ("@(ViewBag.returncode)" == 99) {
            swal({
                title: "Invalid License Key!",
                text: "Your license key is not covering this action. Please contact with your local QMagic partner to extend your license.",
                icon: "warning",
                buttons: false,
                dangerMode: true,
            });
        }
    });
</script>

<div class="row">
    <form method="post" action="">
        <div class="col-md-4">
            Filter with Branch :
            <select name="Branches" id="Branches" class="select2" onchange="this.form.submit()">
                <option value="0">All</option>
                @{

                    if (HttpContext.Current.Request.HttpMethod == "POST")
                    {
                        int bid = Convert.ToInt32(Request.Form.Get("Branches"));
                        foreach (qmBranch item in branches)
                        {
                            if (item.BranchID == bid)
                            {
                                <option value="@item.BranchID" selected="selected">@item.BranchName</option>
                            }
                            else
                            {
                                <option value="@item.BranchID">@item.BranchName</option>
                            }
                        }
                    }
                    else
                    {
                        foreach (qmBranch item in branches)
                        {
                            <option value="@item.BranchID">@item.BranchName</option>
                        }
                    }
                }
            </select>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                Terminal Management
            </div>
            <div class="card-body no-padding">
                <table class="datatable table table-striped primary" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Branch Name</th>
                            <th>Macro Name</th>
                            <th>Terminal Name</th>
                            <th>Terminal Location</th>
                            <th>I.P. Address</th>
                            <th>Floor</th>
                            <th>Terminal Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (qmTerminal item in terminals)
                            {
                                <tr>
                                    <td>@item.qmBranch.BranchName</td>
                                    <td>@item.qmMacro.MacroName</td>
                                    <td>@item.TerminalName</td>
                                    <td>@item.TerminalLocation</td>
                                    <td>@item.IPAddress</td>
                                    <td>@item.Floor</td>
                                    <td>@item.TerminalNumber</td>
                                    <td>
                                        <a href="../Terminal/EditTerminal?TerminalID=@item.TerminalID" class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                        <a href="javascript:DeleteRecord(@(item.TerminalID));" class="btn btn-danger"><span class="fa fa-remove"></span></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="btn-floating" id="help-actions">
    <div class="btn-bg"></div>
    <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
        <i class="icon fa fa-plus"></i>
        <span class="help-text">Shortcut</span>
    </button>
    <div class="toggle-content">
        <ul class="actions">
            <li><a href="~/Terminal/CreateTerminal">Create Terminal</a></li>
        </ul>
    </div>
</div>