@using Emse.QMagic.Web.Models;
@{
    Layout = null;
    List<qmSurveyQuestion> Questions = ViewBag.Questions;
    List <qmSurveyAnswer> Answers = ViewBag.Answers;
    List <qmSurveyFillAnswer> FillAnswers = ViewBag.FillAnswers;
    List <qmSurveyFill> Fills = ViewBag.Fills;
    qmSurvey Survey = ViewBag.Survey;
}

<p><b>This survey has these entities. If you delete this survey most of that entities will be deleted.</b></p>

<div style="max-height:200px; height:200px; overflow-y:scroll; border:solid 1px #CCC; border-radius:5px; padding:5px;">
    <p>@(Questions.Count()) question will be deleted..</p>
    <p>Total @(Answers.Count()) answer will be deleted.</p>
    <p>Total @(Fills.Count()) customer assesment will be deleted.</p>
    <p>Total @(FillAnswers.Count()) customer answer will be deleted.</p>
</div>

<p><b>For the security reasons please enter randomly generated numbers below : </b></p>

<p style="font-size:20px; text-decoration:line-through; font-family:'Segoe Script'; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;" unselectable="on">
    <u>
        <i>
            @{
                Random rnd = new Random();
                int securu = rnd.Next(10000, 99999);
                @(securu)
            }
        </i>
    </u>
</p>

<form action="../Survey/DeleteSurvey" method="post" id="PostDelete" name="PostDelete">
    <input type="hidden" value="@(Survey.SurveyID)" id="txtSegmentID" name="txtSegmentID" />
    <input type="hidden" value="@(securu)" id="txtSecuru" name="txtSecuru" />
    <input type="text" class="form-control" name="txtNumber" id="txtNumber" />
</form>